.-webmark-hidden-anchor
{
	visibility: hidden;
	position: absolute;
	left: 0;
	width:0px;
	height:0px;
}

.-webmark-action-link
{
	position: fixed;
	right: -40px;
	display: inline;
	cursor: pointer;
	z-index: 2147483647;
	-webkit-transition: 100ms;
	border-radius: 50px;
	box-shadow: 0 0 2px rgba(0,0,0,.5);
	padding:12px;
	opacity: 0.5;
	border: solid 2px #fff;
}

.-webmark-action-link:hover
{
	opacity: 1;
	-webkit-transform: scale(1.1);
}